<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.addtwonumbers">

    <application
            android:allowBackup="true"
            android:label="Add Two Numbers"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
                android:name="com.example.addtwonumbers.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>